/*Race*/

@import "../../core/constants";

.table {
	display: block;			
}

.cell {
	display: block;	
}

/*Responsive Styles*/
@media screen and (min-width : $responsive-breakpoint) {
	
	.table {
		display: table;	
		width: 100%;
	}

	.cell {
		display: table-cell;	
	}

}