
@import "../../core/constants";

#logoContainer, #menuContainer, #balanceContainer {
	display: table-cell;
}

#balance {
	font-weight: bold;
}

#balanceContainer {
	text-align: right;
}

#labelMenu {
	background-color: inherit;
	color: inherit;
	cursor: pointer;
	padding: 0.5rem;
}

#logoContainer {
	font-size: 2rem;
}

#menuCheckbox {
	display: none;
}
#menuCheckbox:checked ~ #menuContainer {
	display: block;
}
#menuCheckbox:checked ~ #labelMenu {
	color: #FFF;
	background-color: #000;
}

#menuContainer {
	background-color: #FFF;
	display: none;
	left: 0rem;
	position: fixed;
	top: 4rem;
}
#menuContainer > ul {
	list-style-type: none;
}
#menuContainer li {
	display: list-item;	
	font-size: 0.8rem;
	padding: 0.5rem;
}

.menuItem {
}

.menuItemActive {
	font-weight: bold;
}

#nav {
	background-color: #BBB;
	border-spacing: 0.5rem;
	display: table;	
	width: 100%;
}


/* Media Queries */
@media screen and (min-width : $responsive-breakpoint) {	

	#menuContainer {
		background-color: transparent;
		display: table-cell;
		left: auto;
		position: relative;
		top: auto;
	}

	#labelMenu, #menuCheckbox {
		display: none;
	}	

	#menuContainer li {
		display: inline;
	}	

	#responsiveMenu {
		display: none;
	}	
}