/*Kart*/

@import "../../core/constants";

.kart, .selected {
	cursor: $default-cursor;
}

.kart {
	border: 5px solid #EEE;	
	max-width: 7rem;	
	max-height: 7rem;
	width: 100%;
}

.selected {
	border: 5px dotted #F6F;
}

.cell {
	display: table-cell;	
}
